

h1 {
    font-size: 3.5rem;
    line-height: 60px;
    font-family: sans-serif;
    margin-top: 50px;
    margin-bottom: 10px;
}

h4{
    font-family: sans-serif;
    font-size: 2rem;
    font-weight: 400;
    margin: 10px;
}

a {
    text-decoration: none;
}

#background-color {
    background-color: black;
    width: 100%;

}

.a-1 {
    display: flex;
    width: 300px;
    justify-content: space-around;
    font-size: 20px;
    color: #0066CC;

}

.a-2 {
    display: flex;
    width: 250px;
    justify-content: space-around;
    font-size: 17px;
    color: #0066CC;
}

/* section{
    display: flex;
    justify-content: center;
    flex-direction: column;
} */

/* --------------------header------------------- */
/* --------------------header------------------- */
header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    background: #000000CC;
    height: 40px;
}
header div{
    width: 50px;
}

header .vector a {
    color: white;
    width: 100px;
    justify-content: space-around;
}

header .vector {
    width: 1200px;
    display: flex;
    justify-content: space-around;
}



/* --------------------section-1------------------- */
/* --------------------section-1------------------- */
.section-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 15px;
}

.section-1 div {
    display: flex;
}

/* --------------------section-2------------------- */
/* --------------------section-2------------------- */
.section-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(/img/figure\ \(1\).png);
    background-repeat: no-repeat;
    background-position: center;
    height: 692px;
    width: 870px;
    left: 326px;
    margin-bottom: 100px;
}


.section-2 h1 {
    color: white;

}

.section-2 h4 {
    color: white;
    margin: 0;
}

/* --------------------section-3------------------- */
/* --------------------section-3------------------- */
.section-3 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-3 h4 {
    margin: 10px;
    display: flex;
    justify-content: center;
}

.section-3 a {
    display: flex;
}

/* --------------------section-3------------------- */
/* --------------------section-3------------------- */
.section-4 {
    display: flex;
    justify-content: center;
}

.section-4 .left {
    background-image: url(/img/figure\ \(3\).png);
    background-repeat: no-repeat;
    height: 550px;
    width: 700px;
    margin: 10px;
   
}
.section-4 .left .left-1{
    margin: 70px; 
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-4 h4 {
    color: white;
    font-size: 20px;
    font-weight: 300;
}

.section-4 .right .right-1 h2 {
    font-family: sans-serif;
    color: white;
    font-size: 40px;
    margin: 0;
}

.section-4 .left img {
    height: 52px;
    width: 430px;
}

.section-4 .right {
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(/img/figure\ \(4\).png);
    background-repeat: no-repeat;
    height: 550px;
    width: 700px;
}
.section-4 .right .right-1{
    margin: 70px; 
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* --------------------section-3------------------- */
/* --------------------section-3------------------- */